* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar-brand{
    color: #063255;
}

.nav-items{
    color: #394149;
}

.nav-btn {
    background-color: #F58A071A;
    color:#F58A07 !important;
}
.firstheading{
    color: #1D3444;
}

.stepbotton,.sub-btn{
    background-color: #F58A07;
    color: white;
}

.btn:hover {
    background-color: #f7bb71;
    color: white !important;
}

.section {
    padding: 3.125rem 0;
}

.text-muted,ul {
    color: #6c757d !important;
}

.custom-img {
    border-radius: .625rem;
    max-width: 100%;
    height: auto;
}

.text-overlay {
    color: rgba(0, 0, 0, 0.6);
}

.testimonial-section {
    padding: 3.125rem 0;
}

.testimonial-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.author-img {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    object-fit: cover;
}

.name {
    font-weight: bold;
    color: #063255;
}

.ceo {
    color: #F58A07;
}

.testimonial-card {
    padding: 1.875rem;
}

.video-btn > button {
    width: 3.1875rem;
    height: 3.1875rem;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    padding: 4px 0px 0px 6px;
    color: #f58a07;
  }
  .video-btn > button:hover {
    background-color: #f58a07;
    color: #ffffff;
  }
  .video-btn > span {
    font-size: 1.0625rem;
    padding-left: 10px;
  }
  .video-img {
    position: relative;
  }
  .video-btn {
    position: absolute;
    bottom: 2.5rem;
    left:3.125rem;
  }

.blog-section {
    background-color: #e0ebf2;
    padding: 3.125rem 0;
}

.blog-card {
    background: #fff;
    border-radius: .625rem;
    box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.blog-card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

.blogheading{
    font-size: 1.4375rem;
}

.blog-content {
    padding: 1.25rem;
}

.blog-content h5 {
    font-weight: bold;
}

.blog-content p {
    font-size: .875rem;
    color: #555;
}

.read-more {
    color: #F58A07;
    font-weight: bold;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
}

footer {
    background-color: #063255;
    background-image: url(./images/Shape\ Left.png), url(./images/Shape\ Right.png);
    background-repeat: no-repeat;
    background-position: bottom left, top 1.875rem right;
    background-size: 2.6875rem 6.25rem, 2.6875rem 12.5rem;
}

.last-sec {
    display: flex;
    justify-content: space-between;
}

.policy {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
   h1{
       font-size: 3.125rem !important;
   }

   .testimonial-card h3{
    font-size: 2.1875rem !important;
   }
}

@media screen and (max-width: 768px) {

    h1,
    h3,
    h5 {
        font-size: 1.875rem !important;
    }
    .testimonial-card h3{
        font-size: 1.875rem !important;
       }

    .blogheading {
        font-size: 1.25rem !important;
    }

    .comment {
        font-size: 1.5625rem !important;
    }

    .video-btn > button {
        width: 2.5625rem;
        height: 2.5rem;
        border-radius: 50%;
    }
    .video-btn > span {
        font-size: 1.0625rem;
        padding-left: .3125rem;
        align-items: center;
      }
    .video-btn {
        bottom: .625rem;
        left:1.25rem;
      }
}


@media screen and (max-width: 764px) {
    .headersection {
        flex-direction: column-reverse;
    }

    .testimonial-section {
        flex-direction: column-reverse;
    }

    h1,
    h3 {
        margin-top: 1.875rem;
    }
}


@media screen and (max-width: 425px) {
    .headersection {
        flex-direction: column-reverse;
    }

    .testimonial-section {
        flex-direction: column-reverse;
    }
    .last-sec{
        font-size: .625rem!important;
       
    }

    .video-btn {
        bottom: 1.25rem;
        left:1.875rem;
    }

    .text{
        font-size: 1rem!important;
    }
    .blog-card{
        gap: 3.125rem!important;
    }
}