body {
          margin: 0;
          padding: 0;
          font-family: "Poppins", sans-serif;
          color: rgb(25, 33, 37);
          list-style-type: none;
      }
      
      a {text-decoration: none;}

      .nav-link {
          color: #58697a;
          font-weight: bold;
      }
      .nav-link:hover {
          color: #f39c12;
      }
      
      section {
          padding: 3.125rem 0;
      }
      
      .btn-clone {
        background-color: rgba(245, 138, 7, 0.1);
        color: #f58a07;
      }
      .btn-clone:hover {
        background-color: #f58a07;
        color: #ffffff;
      }
      .btn-warning {
          background-color: #f58a07;
          border: none;
          padding: 0.625rem 1.25rem;
          font-size: 1.125rem;
          font-weight: bold;
          color: #ffffff;
      }

      .ha {
        font-size: 4rem;
        font-weight: 600;
        color: #1d3444e6;
      }
      /* @media screen and (max-width: 1020px) {
        .ha {
          font-size: 3rem;
        }
      } */
      .hb1 {
        font-size: 2.25rem;
        font-weight: 600;
        color: #1d3444;
      }
      .hb2 {
        font-size: 2.25rem;
        font-weight: 700;
        color: #1d3444;
      }
      .hb3 {
        font-size: 2.25rem;
        font-weight: 600;
        color: #ffffff;
      }
      .hb4 {
        font-size: 2.8125rem;
        font-weight: 700;
        color: #1d3444;

      }
      .hc {
        font-size: 3rem;
        font-weight: 600;
        color: #1d3444;
      }
      .hd {
        font-size: 1.5rem;
        font-weight: 600;
        color: #1d3444;
      }
      .hd1 {
        font-size: 1.6rem;
        font-weight: 700;
        color: #1d3444;
      }
      .hd2 {
        color: #063155;
      }

      .pb {
        font-weight: 500;
        font-size: 20px;
        color: rgba(128, 115, 115, 1);
      }
      .ps, li {
        font-weight: 500;
        font-size: 18px;
        color: rgba(128, 115, 115, 1);
      }
      li {
        line-height: 2.5rem;
      }

      
      .body {
        padding: 1.875rem;
      }
      .blog:hover {
        transform: translateY(-1.25rem)
      }



      .video {
        position: relative;
      }
      .play-btn-container {
        position: relative;
        bottom: 4.1875rem;
        left: 56%;
        transform: translate(-50%, -50%);
      }
      .play-btn {
        width: 60px;
        height: 60px;
        padding: 3px 0 0 3px;
        color: #f58a07;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
      }
      .play-btn:hover {
        background-color: #f58a07;
        color: #ffffff;
      }
      .user {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
      }

      .features h1 {
        font-size: 2.25rem;
        font-weight: 600;
        color: rgba(245, 138, 7, 1);
      }

      .header-image, .sq-image {
        position: relative;
      }
      .circle {
        position: absolute;
        top: 0px;
        right: -60px;
      }
      .sq {
        position: absolute;
        color: rgba(245, 138, 7, 1);
        width: 200px;
        height: 200px;
        top: 0;
        right: 200px;
      }
      .circle-container {
        position: relative;
        bottom: 67px;
      }
      .sect-6 {
        background-color: rgba(220, 234, 245, 1);
      }


      .footer {
        background-color: #063255 !important;
        color: #ffffff;
        padding-bottom: 50px;
        background: url(../aboutimages/Shape\ Right.png), url(../aboutimages/Shape\ Left.png);
        background-repeat: no-repeat;
        background-position: top 2.375rem right, bottom left;
        background-size: 2.375rem 12.5rem, 2.375rem 6.5625rem;
      }

      footer li, a {
        color: #ffffff;
        list-style-type: none;
      }
      .list {
        margin-top: 0px;
        font-size: 14px;
        font-weight: 500;
      }
      .input-space {
        font-family: "Inter", sans-serif !important;
        font-size: 0.875rem !important;
        color: #9c9c9c !important;
        width: 18.125rem;
        height: 2.625rem;
        border-radius: 3.125rem;
        border: none;
        padding-left: 1.25rem;
      }
      
      .last-btn {
        margin-top: 0.9375rem;
        width: 8.375rem;
        height: 2.625rem;
        color: #ffffff;
        background-color: #f58a07;
        border: none;
        border-radius: 3.125rem;
        font-size: 0.9375rem;
      }
      .last-btn:hover {
        background-color: #ffffff;
        color: #f58a07;
      }
      .last-section,
      .term-policy {
        display: flex;
      }
      .last-section {
        justify-content: space-between;
      }
      .term-policy {
       gap: 1.25rem;
      }        


      .blog {
        background-color: #fff;
        border-radius: 1.25rem;
      }
      
      .link {
        color: #f39c12;
      }
      
      .team{
        height: 31.3125rem;
        border-radius: 1.25rem;
      }

      .popup-text {
        position: absolute;
        border-radius: 1.25rem;
        top: 17.5rem;
        height: 13.75rem;
        background-color: rgba(0, 0, 0, 0.849);
        color: #fff;
        padding: 1.875rem;
        visibility: hidden;
      }
      .popup:hover .popup-text{
        visibility: visible;
        opacity: 1;
      }
      .popup-text p {
      line-height: 27.825px;
      }
