* {
          margin: 0;
          padding: 0;
          font-family: "Poppins", sans-serif;
          font-family: "poppins" ;
          box-sizing: border-box;
}

        input,
        select,
        textarea,
        button {
          outline: 0;
        }
        
        .main-container {
          /* position: relative; */
          /* width: 1920px; */
          /* height: 5118px; */
          margin: 0 auto;
          background: #ffffff;
          /* overflow: hidden; */
        }
        .flex-row-aa {
          position: relative;
          width: 1280px;
          height: 52px;
          margin: 16px 0 0 320px;
          z-index: 135;
        }
        .bg {
          position: absolute;
          width: 173px;
          height: 52px;
          top: 0;
          left: 1107px;
          background: rgba(245, 138, 7, 0.1);
          z-index: 127;
          border-radius: 31px;
        }
        .clone-project {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 32.69%;
          top: 34.62%;
          left: 18.5%;
          color: #f58a07;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 17px;
          text-align: left;
          white-space: nowrap;
          z-index: 128;
        }
        .logo {
          position: absolute;
          width: 9.53%;
          height: 53.85%;
          top: 23.08%;
          left: 0;
          background: url(https://static.codia.ai/image/2025-03-26/e1cd1edf-4447-4669-a585-67363c94bfb5.svg)
            no-repeat center;
          background-size: 100% 100%;
          z-index: 135;
        }
        .about-us-1 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 46.15%;
          top: 26.92%;
          left: 47.34%;
          color: #394149;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 134;
        }
        .careers {
          position: absolute;
          width: 65px;
          height: 46.15%;
          top: 26.92%;
          left: 55.55%;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
          text-overflow: initial;
          white-space: nowrap;
          z-index: 133;
        }
        .c {
          position: relative;
          color: #394149;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          text-transform: capitalize;
        }
        .areers {
          position: relative;
          color: #394149;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          text-transform: lowercase;
        }
        .services {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 46.15%;
          top: 26.92%;
          left: 63.13%;
          color: #394149;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 132;
        }
        .blog {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 46.15%;
          top: 26.92%;
          left: 71.02%;
          color: #394149;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 131;
        }
        .contact-us {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 46.15%;
          top: 26.92%;
          left: 76.33%;
          color: #394149;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 130;
        }
        .flex-row-b {
          position: relative;
          width: 1338px;
          height: 699px;
          margin: 108px 0 0 320px;
          z-index: 124;
        }
        .header-image {
          position: absolute;
          width: 50.37%;
          height: 100%;
          top: 0;
          left: 49.63%;
          background: url(https://static.codia.ai/image/2025-03-26/b3d69a94-da7a-43e1-ab97-afae231bc79c.png)
            no-repeat center;
          background-size: 100% 100%;
          z-index: 118;
        }
        .value-intelligence {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 618px;
          height: 360px;
          top: 60px;
          left: 0;
          color: #1d3444;
          font-family: Poppins, var(--default-font-family);
          font-size: 64px;
          font-weight: 600;
          line-height: 72px;
          text-align: left;
          letter-spacing: -1.92px;
          z-index: 124;
        }
        .lorem-ipsum {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 510px;
          height: 59px;
          top: 444px;
          left: 0;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          z-index: 123;
        }
        .bg-2 {
          position: absolute;
          width: 171px;
          height: 54px;
          top: 535px;
          left: 0;
          background: #f58a07;
          z-index: 121;
          border-radius: 27px;
        }
        .work-with-us {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 31.48%;
          top: 33.33%;
          left: 18.71%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 600;
          line-height: 17px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 122;
        }
        .flex-row {
          position: relative;
          width: 1279px;
          height: 132px;
          margin: 79px 0 0 320px;
          z-index: 116;
        }
        .energy-experience {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 587px;
          height: 132px;
          top: 0;
          left: 0;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 36px;
          font-weight: 600;
          line-height: 44px;
          text-align: left;
          letter-spacing: -1.08px;
          z-index: 116;
        }
        .lorem-ipsum-3 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 620px;
          height: 102px;
          top: 6px;
          left: 659px;
          color: #1d3444;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          z-index: 115;
        }
        .flex-row-4 {
          position: relative;
          width: 1081px;
          height: 50px;
          margin: 64px 0 0 320px;
          z-index: 114;
        }
        .plus-fifteen {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 50px;
          top: 0;
          left: 0;
          color: #f58a07;
          font-family: Inter, var(--default-font-family);
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          text-align: left;
          white-space: nowrap;
          z-index: 114;
        }
        .plus-500 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 50px;
          top: 0;
          left: 330px;
          color: #f58a07;
          font-family: Inter, var(--default-font-family);
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          text-align: left;
          white-space: nowrap;
          z-index: 110;
        }
        .text-f {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 50px;
          top: 0;
          left: 660px;
          color: #f58a07;
          font-family: Inter, var(--default-font-family);
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          text-align: left;
          white-space: nowrap;
          z-index: 106;
        }
        .plus-130 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 50px;
          top: 0;
          left: 990px;
          color: #f58a07;
          font-family: Inter, var(--default-font-family);
          font-size: 36px;
          font-weight: 700;
          line-height: 50px;
          text-align: left;
          white-space: nowrap;
          z-index: 102;
        }
        .flex-row-5 {
          position: relative;
          width: 1193px;
          height: 26px;
          margin: 16px 0 0 320px;
          z-index: 113;
        }
        .awards-received {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 26px;
          top: 0;
          left: 0;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          text-align: left;
          white-space: nowrap;
          letter-spacing: -0.72px;
          z-index: 113;
        }
        .clients-served {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 26px;
          top: 0;
          left: 330px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          text-align: left;
          white-space: nowrap;
          letter-spacing: -0.72px;
          z-index: 109;
        }
        .employees {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 26px;
          top: 0;
          left: 660px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          text-align: left;
          white-space: nowrap;
          letter-spacing: -0.72px;
          z-index: 105;
        }
        .custom-solutions {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 26px;
          top: 0;
          left: 990px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 600;
          line-height: 25.56px;
          text-align: left;
          white-space: nowrap;
          letter-spacing: -0.72px;
          z-index: 101;
        }
        .flex-row-bc {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 1260px;
          height: 84px;
          margin: 16px 0 0 320px;
          z-index: 112;
        }
        .lorem-ipsum-6 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-shrink: 0;
          position: relative;
          width: 264px;
          height: 84px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 112;
        }
        .lorem-ipsum-7 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-shrink: 0;
          position: relative;
          width: 270px;
          height: 84px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 108;
        }
        .lorem-ipsum-8 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-shrink: 0;
          position: relative;
          width: 270px;
          height: 84px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 104;
        }
        .lorem-ipsum-9 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-shrink: 0;
          position: relative;
          width: 270px;
          height: 84px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 100;
        }
        .flex-row-d {
          position: relative;
          width: 1315px;
          height: 699px;
          margin: 128px 0 0 320px;
          z-index: 97;
        }
        .about-image {
          position: absolute;
          width: 652px;
          height: 699px;
          top: 0;
          left: 663px;
          background: url(https://static.codia.ai/image/2025-03-26/db031b4d-ae01-4dc6-9e8f-d89a3622ee6a.png)
            no-repeat center;
          background-size: cover;
          z-index: 94;
          border-radius: 20px;
        }
        .local-identification {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 585px;
          height: 224px;
          top: 146px;
          left: 0;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 48px;
          font-weight: 600;
          line-height: 56px;
          text-align: left;
          letter-spacing: -1.44px;
          z-index: 97;
        }
        .lorem-ipsum-a {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 510px;
          height: 120px;
          top: 402px;
          left: 0;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          z-index: 96;
        }
        .teamwork-way {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 577px;
          height: 112px;
          margin: 96px 0 0 320px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 48px;
          font-weight: 600;
          line-height: 56px;
          text-align: left;
          letter-spacing: -1.44px;
          z-index: 92;
        }
        .lorem-ipsum-b {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 721px;
          height: 90px;
          margin: 27px 0 0 320px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          z-index: 91;
        }
        .flex-row-a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 1280px;
          height: 521px;
          margin: 64px 0 0 320px;
          z-index: 90;
        }
        .image {
          flex-shrink: 0;
          position: relative;
          width: 290px;
          height: 521px;
          background: url(https://static.codia.ai/image/2025-03-26/b16426c5-4ba6-418d-808b-777fd6f6159e.png)
            no-repeat center;
          background-size: cover;
          z-index: 90;
          border-radius: 20px;
        }
        .image-c {
          flex-shrink: 0;
          position: relative;
          width: 290px;
          height: 521px;
          background: url(https://static.codia.ai/image/2025-03-26/80f18a06-e3f2-4969-978e-59efc1874d22.png)
            no-repeat center;
          background-size: cover;
          z-index: 89;
          border-radius: 20px;
        }
        .image-d {
          flex-shrink: 0;
          position: relative;
          width: 289px;
          height: 521px;
          background: url(https://static.codia.ai/image/2025-03-26/063a3c1c-4501-46e3-9973-3a2a4224fb29.png)
            no-repeat center;
          background-size: cover;
          z-index: 88;
          border-radius: 20px;
        }
        .image-e {
          flex-shrink: 0;
          position: relative;
          width: 290px;
          height: 521px;
          background: url(https://static.codia.ai/image/2025-03-26/d1b77e18-4cea-475b-8052-17eb7a3e6677.png)
            no-repeat center;
          background-size: cover;
          z-index: 82;
          border-radius: 20px;
        }
        .bg-f {
          position: relative;
          width: 290px;
          height: 233px;
          margin: 288px 0 0 0;
          font-size: 0px;
          background: url(https://static.codia.ai/image/2025-03-26/252ca20a-a7d2-4ea1-919c-47361b3268a3.svg)
            no-repeat center;
          background-size: cover;
          z-index: 84;
          overflow: visible auto;
        }
        .support-assist {
          display: block;
          position: relative;
          height: 20px;
          margin: 43px 0 0 31px;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 14px;
          font-weight: 600;
          line-height: 16px;
          text-align: left;
          white-space: nowrap;
          opacity: 0.7;
          z-index: 87;
        }
        .selby-stuart {
          display: block;
          position: relative;
          height: 41px;
          margin: 6px 0 0 31px;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 600;
          line-height: 32px;
          text-align: left;
          white-space: nowrap;
          z-index: 86;
        }
        .lorem-ipsum-text {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 232px;
          height: 84px;
          margin: 6px 0 0 31px;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 14px;
          font-weight: 400;
          line-height: 27.825px;
          text-align: left;
          z-index: 85;
        }
        .flex-row-bcd {
          position: relative;
          width: 1280px;
          height: 501px;
          margin: 128px 0 0 320px;
          z-index: 79;
        }
        .image-10 {
          position: absolute;
          width: 620px;
          height: 501px;
          top: 0;
          left: 660px;
          background: url(https://static.codia.ai/image/2025-03-26/f16f09be-3145-4c2e-b45d-f4b96fa837e2.png)
            no-repeat center;
          background-size: cover;
          z-index: 68;
          border-radius: 20px;
        }
        .circle {
          position: absolute;
          width: 51px;
          height: 51px;
          top: 410px;
          left: 40px;
          background: url(https://static.codia.ai/image/2025-03-26/dae52a0a-3da1-4918-9a2e-df4606183578.svg)
            no-repeat center;
          background-size: cover;
          z-index: 70;
          border-radius: 50%;
        }
        .play-video {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 18px;
          top: 426px;
          left: 108px;
          color: #ffffff;
          font-family: Inter, var(--default-font-family);
          font-size: 18px;
          font-weight: 600;
          line-height: 18px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 72;
        }
        .icon {
          position: absolute;
          width: 17px;
          height: 17px;
          top: 427px;
          left: 57px;
          background: url(https://static.codia.ai/image/2025-03-26/08eb572b-83b3-4211-b208-76d203c8cac2.svg)
            no-repeat center;
          background-size: cover;
          z-index: 71;
        }
        .finsweet-work {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 550px;
          height: 112px;
          top: 78px;
          left: 0;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 48px;
          font-weight: 600;
          line-height: 56px;
          text-align: left;
          text-transform: capitalize;
          letter-spacing: -1.44px;
          z-index: 79;
        }
        .maecenas-efficitur {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 550px;
          height: 90px;
          top: 214px;
          left: 0;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 500;
          line-height: 30px;
          text-align: left;
          z-index: 78;
        }
        .image-11 {
          position: absolute;
          width: 80px;
          height: 80px;
          top: 344px;
          left: 0;
          background: url(https://static.codia.ai/image/2025-03-26/b1b67416-238b-4067-bbaf-5018d05ad504.png)
            no-repeat center;
          background-size: cover;
          z-index: 77;
          border-radius: 50%;
        }
        .chikelu-neo {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 41px;
          top: 350px;
          left: 104px;
          color: #063155;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 500;
          line-height: 41px;
          text-align: left;
          white-space: nowrap;
          z-index: 75;
        }
        .ceo-mazeai {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 31px;
          top: 387px;
          left: 104px;
          color: #f58a07;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 500;
          line-height: 30.78px;
          text-align: left;
          white-space: nowrap;
          z-index: 76;
        }
        .bg-12 {
          position: relative;
          width: 1920px;
          height: 819px;
          margin: 128px 0 0 0;
          font-size: 0px;
          background: #dbeaf5;
          z-index: 38;
          overflow: visible auto;
        }
        .latest-blog-news {
          display: block;
          position: relative;
          height: 56px;
          margin: 96px 0 0 320px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 48px;
          font-weight: 600;
          line-height: 56px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          letter-spacing: -1.44px;
          z-index: 66;
        }
        .flex-row-f {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 1280px;
          height: 230px;
          margin: 64px 0 0 320px;
          z-index: 65;
        }
        .image-13 {
          flex-shrink: 0;
          position: relative;
          width: 400px;
          height: 230px;
          background: url(https://static.codia.ai/image/2025-03-26/83d66d62-2c20-461f-8421-614cddd30705.png)
            no-repeat center;
          background-size: cover;
          z-index: 65;
          border-radius: 20px 20px 0 0;
        }
        .image-14 {
          flex-shrink: 0;
          position: relative;
          width: 400px;
          height: 230px;
          background: url(https://static.codia.ai/image/2025-03-26/38608764-4e1e-4acd-a412-306cc96c591d.png)
            no-repeat center;
          background-size: cover;
          z-index: 56;
          border-radius: 20px 20px 0 0;
        }
        .image-15 {
          flex-shrink: 0;
          position: relative;
          width: 400px;
          height: 230px;
          background: url(https://static.codia.ai/image/2025-03-26/5cf00a8c-8912-48b6-bdfd-f6d6117c2136.png)
            no-repeat center;
          background-size: cover;
          z-index: 47;
          border-radius: 20px 20px 0 0;
        }
        .flex-row-16 {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 1280px;
          height: 277px;
          margin: 0 0 0 320px;
          z-index: 58;
        }
        .bg-17 {
          flex-shrink: 0;
          position: relative;
          width: 400px;
          height: 277px;
          font-size: 0px;
          background: #ffffff;
          z-index: 58;
          border-radius: 0 0 20px 20px;
        }
        .digitalize-2021 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 336px;
          height: 72px;
          margin: 32px 0 0 32px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          text-align: left;
          letter-spacing: -0.72px;
          z-index: 64;
        }
        .lorem-ipsum-18 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 336px;
          height: 84px;
          margin: 16px 0 0 32px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 63;
        }
        .learn-more {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 17px;
          top: 228px;
          left: 32px;
          color: #f58a07;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 17px;
          text-align: left;
          white-space: nowrap;
          z-index: 61;
        }
        .icon-19 {
          position: absolute;
          width: 22px;
          height: 10px;
          top: 232px;
          left: 130px;
          background: url(https://static.codia.ai/image/2025-03-26/479f26b8-4f3b-45a6-9cfd-2840ccf55d4a.svg)
            no-repeat center;
          background-size: cover;
          z-index: 62;
        }
        .bg-1a {
          flex-shrink: 0;
          position: relative;
          width: 400px;
          height: 277px;
          font-size: 0px;
          background: #ffffff;
          z-index: 49;
          border-radius: 0 0 20px 20px;
        }
        .internal-process {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 336px;
          height: 72px;
          margin: 32px 0 0 32px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          text-align: left;
          letter-spacing: -0.72px;
          z-index: 55;
        }
        .lorem-ipsum-1b {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 336px;
          height: 84px;
          margin: 16px 0 0 32px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 54;
        }
        .learn-more-1c {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 17px;
          top: 228px;
          left: 32px;
          color: #f58a07;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 17px;
          text-align: left;
          white-space: nowrap;
          z-index: 52;
        }
        .icon-1d {
          position: absolute;
          width: 22px;
          height: 10px;
          top: 232px;
          left: 130px;
          background: url(https://static.codia.ai/image/2025-03-26/72516fa9-e764-4f60-aa35-18e40a2be654.svg)
            no-repeat center;
          background-size: cover;
          z-index: 53;
        }
        .bg-1e {
          flex-shrink: 0;
          position: relative;
          width: 400px;
          height: 277px;
          font-size: 0px;
          background: #ffffff;
          z-index: 40;
          border-radius: 0 0 20px 20px;
        }
        .next-generation {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 336px;
          height: 72px;
          margin: 32px 0 0 32px;
          color: #0d1317;
          font-family: Poppins, var(--default-font-family);
          font-size: 24px;
          font-weight: 500;
          line-height: 36px;
          text-align: left;
          letter-spacing: -0.72px;
          z-index: 46;
        }
        .lorem-ipsum-1f {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: relative;
          width: 336px;
          height: 84px;
          margin: 16px 0 0 32px;
          color: #5b5b5b;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 28px;
          text-align: left;
          z-index: 45;
        }
        .learn-more-20 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 17px;
          top: 228px;
          left: 32px;
          color: #f58a07;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 17px;
          text-align: left;
          white-space: nowrap;
          z-index: 43;
        }
        .icon-21 {
          position: absolute;
          width: 22px;
          height: 10px;
          top: 232px;
          left: 130px;
          background: url(https://static.codia.ai/image/2025-03-26/ebda1b22-02c2-44c1-bb0c-47a7ed2e5073.svg)
            no-repeat center;
          background-size: cover;
          z-index: 44;
        }
        .bg-22 {
          position: relative;
          width: 1920px;
          height: 463px;
          margin: 0 0 0 0;
          background: #063155;
          z-index: 2;
          overflow: visible auto;
        }
        .flex-row-dcb {
          position: relative;
          width: 1600px;
          height: 287px;
          margin: 38px 0 0 320px;
          z-index: 36;
        }
        .shape-right {
          position: absolute;
          width: 53px;
          height: 287px;
          top: 0;
          left: 1547px;
          background: #f58a07;
          z-index: 8;
          border-radius: 20px 0 0 20px;
        }
        .regroup {
          position: absolute;
          width: 136px;
          height: 287px;
          top: 50%;
          left: 50%;
          transform: translate(-588.23%, -50%);
          z-index: 34;
        }
        .social-icon-facebook {
          position: absolute;
          width: 21.343px;
          height: 20px;
          top: 50%;
          left: 50%;
          background: url(https://static.codia.ai/image/2025-03-26/d3f64c51-3b62-4d9e-a9b7-a4422734610d.svg)
            no-repeat center;
          background-size: cover;
          transform: translate(-318.61%, 387.5%);
          z-index: 32;
          overflow: hidden;
        }
        .social-icon-youtube {
          position: absolute;
          width: 21.343px;
          height: 20px;
          top: 50%;
          left: 50%;
          background: url(https://static.codia.ai/image/2025-03-26/1b03d9ca-0d79-4a49-a708-72bd6beb0922.svg)
            no-repeat center;
          background-size: cover;
          transform: translate(-139.53%, 387.5%);
          z-index: 34;
          overflow: hidden;
        }
        .social-icon-instagram {
          position: absolute;
          width: 21.343px;
          height: 20px;
          top: 50%;
          left: 50%;
          background: url(https://static.codia.ai/image/2025-03-26/ebec4b60-ce27-4593-8a74-48b661d579ef.svg)
            no-repeat center;
          background-size: cover;
          transform: translate(39.53%, 387.5%);
          z-index: 33;
          overflow: hidden;
        }
        .social-icon-twitter {
          position: absolute;
          width: 21.343px;
          height: 20px;
          top: 50%;
          left: 50%;
          background: url(https://static.codia.ai/image/2025-03-26/71374b3f-5eb0-4949-9ef2-2d359f07ec82.svg)
            no-repeat center;
          background-size: cover;
          transform: translate(218.61%, 387.5%);
          z-index: 31;
          overflow: hidden;
        }
        .logo-23 {
          position: absolute;
          width: 7.5%;
          height: 9.41%;
          top: 14.63%;
          left: 0;
          background: url(https://static.codia.ai/image/2025-03-26/a87166fd-ad02-40fb-93dd-1179d05638b4.svg)
            no-repeat center;
          background-size: 100% 100%;
          z-index: 36;
        }
        .company {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 9.41%;
          top: 14.63%;
          left: 28.81%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          white-space: nowrap;
          z-index: 28;
        }
        .connect {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 9.41%;
          top: 14.63%;
          left: 41.19%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          white-space: nowrap;
          z-index: 22;
        }
        .join-newsletter {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 27px;
          top: 42px;
          left: 938px;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 600;
          line-height: 27px;
          text-align: left;
          white-space: nowrap;
          z-index: 18;
        }
        .about-us-24 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 8.36%;
          top: 32.4%;
          left: 28.81%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 27;
        }
        .bg-25 {
          position: absolute;
          width: 342px;
          height: 54px;
          top: 93px;
          left: 938px;
          background: #ffffff;
          z-index: 16;
          border-radius: 31px;
        }
        .type-email-here {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 35.19%;
          top: 33.33%;
          left: 9.36%;
          color: #9c9c9c;
          font-family: Inter, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          text-align: left;
          white-space: nowrap;
          z-index: 17;
        }
        .hi-finsweet {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 8.36%;
          top: 33.1%;
          left: 41.19%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 21;
        }
        .bespoke-software-solutions {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          width: 351px;
          height: 88px;
          top: 101px;
          left: 0;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 36px;
          font-weight: 600;
          line-height: 44px;
          text-align: left;
          letter-spacing: -1.08px;
          z-index: 35;
        }
        .careers-26 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 8.36%;
          top: 46.34%;
          left: 28.81%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 26;
        }
        .phone-number {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 8.36%;
          top: 47.04%;
          left: 41.19%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 20;
        }
        .bg-27 {
          position: absolute;
          width: 156px;
          height: 54px;
          top: 163px;
          left: 938px;
          background: #f58a07;
          z-index: 13;
          border-radius: 31px;
        }
        .subscribe {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 35.19%;
          top: 31.48%;
          left: 20.51%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 18px;
          font-weight: 600;
          line-height: 19px;
          text-align: left;
          text-transform: capitalize;
          white-space: nowrap;
          z-index: 14;
        }
        .services-28 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 8.36%;
          top: 60.28%;
          left: 28.81%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 25;
        }
        .blog-29 {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 8.36%;
          top: 74.22%;
          left: 28.81%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 24;
        }
        .flex-row-f-2a {
          position: relative;
          width: 1600px;
          height: 144px;
          margin: -6px 0 0 0px;
          z-index: 9;
        }
        .shape-left {
          position: absolute;
          width: 53px;
          height: 144px;
          top: 0;
          left: 0;
          background: url(https://static.codia.ai/image/2025-03-26/0cd820f3-837c-419c-be06-9cadb0727efd.svg)
            no-repeat center;
          background-size: cover;
          z-index: 9;
        }
        .all-rights-reserved {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 16.67%;
          top: 27.78%;
          left: 20%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 18.75px;
          text-align: left;
          white-space: nowrap;
          z-index: 7;
        }
        .privacy-policy {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 16.67%;
          top: 27.78%;
          left: 81.37%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 5;
        }
        .terms-conditions {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          position: absolute;
          height: 16.67%;
          top: 27.78%;
          left: 90.25%;
          color: #ffffff;
          font-family: Poppins, var(--default-font-family);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
          white-space: nowrap;
          z-index: 6;
        }